<div class="jumbotron center jumbotron-fluid">
  <h1 class="display-4">Welcome to FootballManiacs</h1>
  <p class="lead">Are you a football maniac?</p>
  
  <p></p>
  <p class="lead">
    <%= link_to "Sign up Rowdies!", signup_path, class: "btn btn-danger btn-lg btn-xlarge " %>
  </p>
</div>

<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>EPL</h2>
            <p>The Premier League is the top tier of England's football pyramid, with 20 teams battling it out for the honour of being crowned English champions. ... The league takes place between August and May. Find out more about how the Premier League is organised. </p>
            <p><a class="btn btn-secondary btn-xlarge" href="https://www.premierleague.com/" role="button"> Find More &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>La Liga</h2>
            <p>La Liga. The Primera División, commonly known as La Liga and as La Liga Santander for sponsorship reasons with Santander, is the men's top professional football division of the Spanish football league system. Find out more about how the La Liga is organised.</p>
            <p><a class="btn btn-secondary btn-xlarge" href="https://www.laliga.es/en" role="button">Find More &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Bundesliga</h2>
            <p>The Bundesliga is a professional association football league in Germany and the football league with the highest average stadium attendance worldwide. Find all the latest information and statistics on the Bundesliga, DFB Cup and other competitions.</p>
            <p><a class="btn btn-secondary btn-xlarge" href="https://www.bundesliga.com/en/" role="button">Find More &raquo;</a></p>
          </div>
        </div>

        

      </div> <!-- /container -->